Repository All-eatery/EatsFinder-BE, pull requests merged in 2024-07, with the labels that each got.

#31 Feat/entity k
  src/main/kotlin/com/eatsfinder/domain/email/model/Email.kt
  src/main/kotlin/com/eatsfinder/domain/user/model/User.kt
Labels: ♻️ Refactor

#32 Feat/local user
  package-lock.json
  package.json
  src/main/nest/app/app.module.ts
  src/main/nest/domain/auth/auth.module.ts
  src/main/nest/domain/auth/controller/auth.controller.spec.ts
  src/main/nest/domain/auth/controller/auth.controller.ts
  src/main/nest/domain/auth/dto/create-user.dto.ts
  src/main/nest/domain/auth/dto/login-user.dto.ts
  src/main/nest/domain/auth/dto/update-auth.dto.ts
  src/main/nest/domain/auth/guard/jwt-auth.guard.ts
  src/main/nest/domain/auth/guard/local-auth.guard.ts
  src/main/nest/domain/auth/service/auth.service.spec.ts
  src/main/nest/domain/auth/service/auth.service.ts
  src/main/nest/domain/auth/strategy/jwt.strategy.ts
  src/main/nest/domain/auth/strategy/local.strategy.ts
  src/main/nest/global/bigint-to-string.interceptor.ts
  src/main/nest/main.ts
Labels: ✨ Feat, nestjs

#34 Feat/oauth naver
  package-lock.json
  package.json
  src/main/nest/domain/auth/auth.module.ts
  src/main/nest/domain/auth/controller/auth.controller.ts
  src/main/nest/domain/auth/dto/create-user.dto.ts
  src/main/nest/domain/auth/guard/naver-auth.guard.ts
  src/main/nest/domain/auth/service/auth.service.ts
  src/main/nest/domain/auth/strategy/local.strategy.ts
  src/main/nest/domain/auth/strategy/naver.strategy.ts
  src/main/nest/global/prisma/schema.prisma
Labels: ✨ Feat, nestjs

#35 Feat/email
  build.gradle.kts
  src/main/kotlin/com/eatsfinder/domain/email/controller/EmailController.kt
  src/main/kotlin/com/eatsfinder/domain/email/dto/EmailRequest.kt
  src/main/kotlin/com/eatsfinder/domain/email/model/Email.kt
  src/main/kotlin/com/eatsfinder/domain/email/repository/EmailRepository.kt
  src/main/kotlin/com/eatsfinder/domain/email/service/EmailAuthCodeGenerator.kt
  src/main/kotlin/com/eatsfinder/domain/email/service/EmailService.kt
  src/main/kotlin/com/eatsfinder/domain/email/service/EmailServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/email/service/EmailUtils.kt
  src/main/kotlin/com/eatsfinder/domain/user/model/User.kt
  src/main/kotlin/com/eatsfinder/domain/user/repository/UserRepository.kt
  src/main/kotlin/com/eatsfinder/global/email/EmailConfig.kt
  src/main/kotlin/com/eatsfinder/global/security/SecurityConfig.kt
  src/main/resources/application.yml
Labels: ✨ Feat

#38 Feat/exception
  src/main/kotlin/com/eatsfinder/domain/comment/service/CommentServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/email/controller/EmailController.kt
  src/main/kotlin/com/eatsfinder/domain/email/service/EmailService.kt
  src/main/kotlin/com/eatsfinder/domain/email/service/EmailServiceImpl.kt
  src/main/kotlin/com/eatsfinder/global/exception/CustomExceptionHandler.kt
  src/main/kotlin/com/eatsfinder/global/exception/GlobalExceptionHandler.kt
  src/main/kotlin/com/eatsfinder/global/exception/ModelNotFoundException.kt
  src/main/kotlin/com/eatsfinder/global/exception/dto/BaseResponse.kt
  src/main/kotlin/com/eatsfinder/global/exception/dto/ErrorResponse.kt
  src/main/kotlin/com/eatsfinder/global/exception/email/ExpiredCodeException.kt
  src/main/kotlin/com/eatsfinder/global/exception/email/NotGenerateCodeException.kt
  src/main/kotlin/com/eatsfinder/global/exception/email/OneTimeMoreWriteException.kt
  src/main/kotlin/com/eatsfinder/global/exception/status/StatusCode.kt
Labels: ✨ Feat

#40 Feat/deploy
  .github/workflows/cicd.yml
  Dockerfile.kotlin
  build.gradle.kts
Labels: 🚀 Deploy, kotlin

#41 🐛 Fix: 빌드 에러 수정 (#13)
  Dockerfile.kotlin
  build.gradle.kts
Labels: 🚀 Deploy, kotlin

#42 🐛 Fix: 빌드 에러 수정 2(#13)
  .github/workflows/cicd.yml
Labels: 🚀 Deploy, kotlin

#43 🐛 Fix:배포 에러 수정 3 (#13)
  .github/workflows/cicd.yml
Labels: 🚀 Deploy, kotlin

#45 🐛 Fix: 빌드 에러 수정 5(#13)
  Dockerfile.kotlin
Labels: 🚀 Deploy, kotlin

#46 Feat/find password
  nest-cli.json
  package-lock.json
  package.json
  src/main/nest/app/app.module.ts
  src/main/nest/domain/user/controller/user.controller.ts
  src/main/nest/domain/user/dto/find-password.dto.ts
  src/main/nest/domain/user/service/user.service.ts
  src/main/nest/domain/user/user.module.ts
  src/main/nest/global/mail/mail.module.ts
  src/main/nest/global/mail/mail.service.ts
  src/main/nest/global/mail/send/find-password-mail.service.ts
  src/main/nest/global/mail/templates/password-reset.hbs
Labels: ✨ Feat, nestjs

#47 Feat/emails
  build.gradle.kts
  src/main/kotlin/com/eatsfinder/domain/email/controller/EmailController.kt
  src/main/kotlin/com/eatsfinder/domain/email/dto/EmailRequest.kt
  src/main/kotlin/com/eatsfinder/domain/email/service/EmailUtils.kt
Labels: 🍱 Add, kotlin

#48 Feat/entity
  src/main/kotlin/com/eatsfinder/domain/category/dto/CategoryResponse.kt
  src/main/kotlin/com/eatsfinder/domain/category/model/Category.kt
  src/main/kotlin/com/eatsfinder/domain/comment/model/Comment.kt
  src/main/kotlin/com/eatsfinder/domain/email/model/Email.kt
  src/main/kotlin/com/eatsfinder/domain/email/service/EmailServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/place/model/Place.kt
  src/main/kotlin/com/eatsfinder/domain/post/model/Post.kt
  src/main/kotlin/com/eatsfinder/domain/post/model/PostKeyword.kt
  src/main/kotlin/com/eatsfinder/domain/starRating/model/StarRating.kt
  src/main/kotlin/com/eatsfinder/domain/user/model/User.kt
  src/main/kotlin/com/eatsfinder/domain/user/repository/UserRepository.kt
Labels: ♻️ Refactor, 🍱 Add, kotlin

#51 🍱 Add: null 관련된 것 수정 (#30)
  src/main/kotlin/com/eatsfinder/domain/place/model/Place.kt
  src/main/kotlin/com/eatsfinder/domain/post/model/Post.kt
  src/main/kotlin/com/eatsfinder/domain/post/model/PostKeyword.kt
  src/main/nest/global/prisma/schema.prisma
Labels: 🍱 Add, nestjs, kotlin

#53 Feat/user post
  package-lock.json
  package.json
  src/main/nest/app/app.module.ts
  src/main/nest/domain/auth/dto/create-user.dto.ts
  src/main/nest/domain/auth/service/auth.service.ts
  src/main/nest/domain/post/controller/post.controller.ts
  src/main/nest/domain/post/post.module.ts
  src/main/nest/domain/post/service/post.service.ts
  src/main/nest/domain/user/controller/user.controller.ts
  src/main/nest/global/s3/s3.config.ts
  src/main/nest/global/s3/s3.module.ts
  src/main/nest/global/s3/s3.service.ts
  src/main/nest/main.ts
Labels: ✨ Feat, 🐛 Fix, nestjs

#54 🐛 Fix: CORS 문제로 인한 addCorsMappings 작성 및 적용(#52)
  src/main/kotlin/com/eatsfinder/domain/user/controller/OAuth2LoginController.kt
  src/main/kotlin/com/eatsfinder/global/web/WebConfig.kt
  src/main/resources/application.yml
Labels: 🐛 Fix, kotlin

#55 🐛 Fix: CORS 문제로 인한 수정(#52)
  src/main/kotlin/com/eatsfinder/global/swagger/SwaggerConfig.kt
Labels: 🐛 Fix, kotlin

#56 ♻️ Refactor: 로그인 RedirectUrl을 프론트 포트 url로 변경
  src/main/kotlin/com/eatsfinder/domain/user/controller/OAuth2LoginController.kt
  src/main/resources/application.yml
Labels: ♻️ Refactor, kotlin

#58 🐛 Fix: cicd 파일 수정 및 yml 파일 변경, 로컬 호스트 3000 추가
  .github/workflows/cicd.yml
  src/main/kotlin/com/eatsfinder/domain/user/controller/OAuth2LoginController.kt
  src/main/kotlin/com/eatsfinder/global/web/WebConfig.kt
  src/main/resources/application.yml
Labels: 🐛 Fix, kotlin

#60 Feat/profile
  build.gradle.kts
  src/main/kotlin/com/eatsfinder/domain/comment/dto/CommentResponse.kt
  src/main/kotlin/com/eatsfinder/domain/comment/service/CommentServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/email/repository/EmailRepository.kt
  src/main/kotlin/com/eatsfinder/domain/email/service/EmailUtils.kt
  src/main/kotlin/com/eatsfinder/domain/like/model/PostLikes.kt
  src/main/kotlin/com/eatsfinder/domain/post/repository/PostRepository.kt
  src/main/kotlin/com/eatsfinder/domain/starRating/model/StarRating.kt
  src/main/kotlin/com/eatsfinder/domain/user/controller/ProfileController.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/oauth/OAuth2UserInfo.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/profile/ChangePasswordRequest.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/profile/MyProfileResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/profile/ProfileViewedByOthersResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/profile/UpdateProfileRequest.kt
  src/main/kotlin/com/eatsfinder/domain/user/model/User.kt
  src/main/kotlin/com/eatsfinder/domain/user/repository/UserRepository.kt
  src/main/kotlin/com/eatsfinder/domain/user/service/OAuthUserService.kt
  src/main/kotlin/com/eatsfinder/domain/user/service/ProfileService.kt
  src/main/kotlin/com/eatsfinder/domain/user/service/ProfileServiceImpl.kt
  src/main/kotlin/com/eatsfinder/global/aws/AwsS3Config.kt
  src/main/kotlin/com/eatsfinder/global/aws/AwsS3Service.kt
  src/main/kotlin/com/eatsfinder/global/exception/CustomExceptionHandler.kt
  src/main/kotlin/com/eatsfinder/global/exception/GlobalExceptionHandler.kt
  src/main/kotlin/com/eatsfinder/global/exception/ModelNotFoundException.kt
  src/main/kotlin/com/eatsfinder/global/exception/email/NotCheckCompleteException.kt
  src/main/kotlin/com/eatsfinder/global/exception/profile/AlreadyDefaultProfileImageException.kt
  src/main/kotlin/com/eatsfinder/global/exception/profile/ImmutableUserException.kt
  src/main/kotlin/com/eatsfinder/global/exception/profile/MyProfileException.kt
  src/main/kotlin/com/eatsfinder/global/exception/profile/NotUploadImageException.kt
  src/main/kotlin/com/eatsfinder/global/exception/profile/WrongPasswordException.kt
  src/main/kotlin/com/eatsfinder/global/oauth/client/OAuth2Client.kt
  src/main/kotlin/com/eatsfinder/global/oauth/client/OAuth2ClientService.kt
  src/main/kotlin/com/eatsfinder/global/oauth/client/google/dto/GoogleUserInfoResponse.kt
  src/main/kotlin/com/eatsfinder/global/oauth/client/kakao/dto/KakaoUserInfoResponse.kt
  src/main/kotlin/com/eatsfinder/global/security/PasswordEncoderConfig.kt
  src/main/kotlin/com/eatsfinder/global/security/SecurityConfig.kt
  src/main/kotlin/com/eatsfinder/global/security/jwt/JwtAuthenticationFilter.kt
  src/main/resources/application.yml
Labels: ✨ Feat, kotlin

#62 Feat/user post
  package-lock.json
  package.json
  src/main/nest/app/app.module.ts
  src/main/nest/domain/auth/service/auth.service.ts
  src/main/nest/domain/auth/strategy/jwt.strategy.ts
  src/main/nest/domain/place/controller/place.controller.ts
  src/main/nest/domain/place/menu/controller/menu.controller.ts
  src/main/nest/domain/place/menu/menu.module.ts
  src/main/nest/domain/place/menu/service/menu.service.ts
  src/main/nest/domain/place/place.module.ts
  src/main/nest/domain/place/service/place.service.ts
  src/main/nest/domain/post/controller/post.controller.ts
  src/main/nest/domain/post/service/post.service.ts
  src/main/nest/global/bigint-to-string.interceptor.ts
  src/main/nest/global/decorator/api-create-post.decorator.ts
  src/main/nest/global/decorator/api-guard.decorator.ts
  src/main/nest/global/decorator/get-user-id.decorator.ts
  src/main/nest/global/decorator/index.ts
  src/main/nest/global/dto/index.ts
  src/main/nest/global/dto/request/create-menu-request.dto.ts
  src/main/nest/global/dto/request/create-place-request.dto.ts
  src/main/nest/global/dto/request/create-post-request.dto.ts
  src/main/nest/global/dto/response/create-menu-response.dto.ts
  src/main/nest/global/dto/response/create-place-response.dto.ts
  src/main/nest/global/dto/response/find-menu-response.dto.ts
  src/main/nest/global/dto/response/find-one-post-response.dto.ts
  src/main/nest/global/dto/response/find-place-response.dto.ts
  src/main/nest/global/prisma/migrations/20240710142714_init/migration.sql
  src/main/nest/global/prisma/migrations/migration_lock.toml
  src/main/nest/global/prisma/schema.prisma
  src/main/nest/global/swagger/swagger.config.ts
  src/main/nest/main.ts
Labels: ✨ Feat, nestjs

#64 ✨ Feat: 장소 더미데이터 추가(#63)
  package.json
  src/main/nest/script/batch/create-place.batch.ts
  src/main/nest/script/json/place.json
Labels: ✨ Feat, nestjs

#65 Feat/like
  src/main/kotlin/com/eatsfinder/domain/comment/dto/CommentResponse.kt
  src/main/kotlin/com/eatsfinder/domain/comment/model/Comment.kt
  src/main/kotlin/com/eatsfinder/domain/like/controller/CommentLikeController.kt
  src/main/kotlin/com/eatsfinder/domain/like/controller/PostLikeController.kt
  src/main/kotlin/com/eatsfinder/domain/like/dto/CommentLikeResponse.kt
  src/main/kotlin/com/eatsfinder/domain/like/dto/PostLikeResponse.kt
  src/main/kotlin/com/eatsfinder/domain/like/model/CommentLikes.kt
  src/main/kotlin/com/eatsfinder/domain/like/repository/CommentLikeRepository.kt
  src/main/kotlin/com/eatsfinder/domain/like/repository/PostLikeRepository.kt
  src/main/kotlin/com/eatsfinder/domain/like/service/CommentLikeService.kt
  src/main/kotlin/com/eatsfinder/domain/like/service/CommentLikeServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/like/service/PostLikeService.kt
  src/main/kotlin/com/eatsfinder/domain/like/service/PostLikeServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/place/model/Place.kt
  src/main/kotlin/com/eatsfinder/domain/place/model/PlaceMenus.kt
  src/main/kotlin/com/eatsfinder/domain/post/model/Post.kt
  src/main/kotlin/com/eatsfinder/domain/post/model/PostKeyword.kt
  src/main/kotlin/com/eatsfinder/domain/starRating/model/StarRating.kt
  src/main/kotlin/com/eatsfinder/domain/user/controller/ProfileController.kt
  src/main/kotlin/com/eatsfinder/domain/user/service/ProfileServiceImpl.kt
  src/main/kotlin/com/eatsfinder/global/exception/GlobalExceptionHandler.kt
  src/main/kotlin/com/eatsfinder/global/exception/like/DefaultZeroException.kt
  src/main/kotlin/com/eatsfinder/global/security/SecurityConfig.kt
Labels: ✨ Feat, kotlin

#67 Feat/comment
  src/main/kotlin/com/eatsfinder/domain/comment/controller/CommentController.kt
  src/main/kotlin/com/eatsfinder/domain/comment/dto/CommentResponse.kt
  src/main/kotlin/com/eatsfinder/domain/comment/repository/CommentRepository.kt
  src/main/kotlin/com/eatsfinder/domain/comment/service/CommentServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/post/repository/PostRepository.kt
  src/main/kotlin/com/eatsfinder/global/security/SecurityConfig.kt
Labels: ♻️ Refactor, 🐛 Fix, kotlin

#69 Feat/follow
  src/main/kotlin/com/eatsfinder/domain/comment/controller/CommentController.kt
  src/main/kotlin/com/eatsfinder/domain/comment/service/CommentService.kt
  src/main/kotlin/com/eatsfinder/domain/comment/service/CommentServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/email/controller/EmailController.kt
  src/main/kotlin/com/eatsfinder/domain/email/service/EmailService.kt
  src/main/kotlin/com/eatsfinder/domain/email/service/EmailServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/follow/controller/FollowController.kt
  src/main/kotlin/com/eatsfinder/domain/follow/dto/FollowResponse.kt
  src/main/kotlin/com/eatsfinder/domain/follow/repository/FollowRepository.kt
  src/main/kotlin/com/eatsfinder/domain/follow/service/FollowService.kt
  src/main/kotlin/com/eatsfinder/domain/follow/service/FollowServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/like/controller/CommentLikeController.kt
  src/main/kotlin/com/eatsfinder/domain/like/controller/PostLikeController.kt
  src/main/kotlin/com/eatsfinder/domain/like/model/CommentLikes.kt
  src/main/kotlin/com/eatsfinder/domain/like/repository/CommentLikeRepository.kt
  src/main/kotlin/com/eatsfinder/domain/like/repository/PostLikeRepository.kt
  src/main/kotlin/com/eatsfinder/domain/like/service/CommentLikeServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/like/service/PostLikeServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/profile/ChangePasswordRequest.kt
  src/main/kotlin/com/eatsfinder/domain/user/model/User.kt
  src/main/kotlin/com/eatsfinder/domain/user/repository/UserRepository.kt
  src/main/kotlin/com/eatsfinder/global/exception/AlreadyExistException.kt
  src/main/kotlin/com/eatsfinder/global/exception/GlobalExceptionHandler.kt
  src/main/kotlin/com/eatsfinder/global/exception/InvalidInputException.kt
Labels: ✨ Feat, 🍱 Add, kotlin

#71 Feat/nickname check
  src/main/nest/domain/user/controller/user.controller.ts
  src/main/nest/domain/user/service/user.service.ts
Labels: ✨ Feat, nestjs

#73 Feat/follow
  src/main/kotlin/com/eatsfinder/domain/follow/controller/FollowController.kt
  src/main/kotlin/com/eatsfinder/domain/user/controller/OAuth2LoginController.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/oauth/OAuthResponse.kt
  src/main/kotlin/com/eatsfinder/global/security/SecurityConfig.kt
  src/main/kotlin/com/eatsfinder/global/web/WebConfig.kt
Labels: 🍱 Add, 🐛 Fix, kotlin

#74 Feat/follow
  src/main/kotlin/com/eatsfinder/domain/user/controller/OAuth2LoginController.kt
  src/main/kotlin/com/eatsfinder/global/security/SecurityConfig.kt
Labels: 🐛 Fix, kotlin

#75 🐛 Fix: 경로 수정 (#72)
  src/main/kotlin/com/eatsfinder/global/security/SecurityConfig.kt
Labels: 🐛 Fix, kotlin

#76 🚀 Deploy: 임시 배포
  src/main/nest/domain/auth/service/auth.service.ts
  src/main/nest/domain/auth/strategy/naver.strategy.ts
Labels: 🚀 Deploy, nestjs

#78 Feat/nickname check
  src/main/nest/global/prisma/schema.prisma
Labels: 🐛 Fix, nestjs

#79 Feat/follow
  src/main/kotlin/com/eatsfinder/domain/user/controller/OAuth2LoginController.kt
  src/main/kotlin/com/eatsfinder/domain/user/model/User.kt
Labels: 🐛 Fix, kotlin
