Repository All-eatery/EatsFinder-BE, pull requests merged in 2024-08, with the labels that each got.

#80 Feat/follow
  src/main/kotlin/com/eatsfinder/domain/follow/controller/FollowController.kt
  src/main/kotlin/com/eatsfinder/domain/follow/dto/FollowerListResponse.kt
  src/main/kotlin/com/eatsfinder/domain/follow/dto/FollowingListResponse.kt
  src/main/kotlin/com/eatsfinder/domain/follow/service/FollowService.kt
  src/main/kotlin/com/eatsfinder/domain/follow/service/FollowServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/oauth/OAuth2UserInfo.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/profile/MyProfileResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/repository/UserRepository.kt
  src/main/kotlin/com/eatsfinder/domain/user/service/OAuthUserService.kt
  src/main/kotlin/com/eatsfinder/global/security/SecurityConfig.kt
Labels: 🍱 Add, kotlin

#81 Feat/user post
  src/main/nest/domain/place/service/place.service.ts
  src/main/nest/domain/post/controller/post.controller.ts
  src/main/nest/domain/post/post.module.ts
  src/main/nest/domain/post/service/post.service.ts
  src/main/nest/global/dto/response/find-place-response.dto.ts
  src/main/nest/global/prisma/prisma.service.ts
  src/main/nest/global/prisma/schema.prisma
Labels: ✨ Feat, 🐛 Fix, nestjs, kotlin

#83 🐛 Fix: Email 버그 수정(#82)
  src/main/kotlin/com/eatsfinder/domain/email/service/EmailServiceImpl.kt
Labels: 🐛 Fix, kotlin

#84 🐛 Fix: 소셜로그인 버그 수정
  src/main/kotlin/com/eatsfinder/domain/user/repository/UserRepository.kt
  src/main/kotlin/com/eatsfinder/domain/user/service/OAuthUserService.kt
Labels: 🐛 Fix, kotlin

#86 Feat/follow
  src/main/kotlin/com/eatsfinder/domain/user/repository/UserRepository.kt
  src/main/kotlin/com/eatsfinder/domain/user/service/OAuthUserService.kt
  src/main/kotlin/com/eatsfinder/global/security/SecurityConfig.kt
Labels: 🍱 Add, 🐛 Fix, kotlin

#88 Feat/user post
  src/main/nest/domain/place/service/place.service.ts
  src/main/nest/domain/post/controller/post.controller.ts
  src/main/nest/domain/post/service/post.service.ts
  src/main/nest/global/decorator/api-update-post.decorator.ts
  src/main/nest/global/decorator/index.ts
  src/main/nest/global/dto/index.ts
  src/main/nest/global/dto/request/update-post-request.dto.ts
  src/main/nest/global/dto/response/find-one-post-response.dto.ts
  src/main/nest/global/prisma/prisma.service.ts
  src/main/nest/global/prisma/schema.prisma
  src/main/nest/script/batch/create-place.batch.ts
Labels: ✨ Feat, nestjs

#89 Feat/my profile
  src/main/kotlin/com/eatsfinder/domain/category/model/Category.kt
  src/main/kotlin/com/eatsfinder/domain/comment/service/CommentServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/like/service/CommentLikeServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/like/service/PostLikeServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/place/model/Place.kt
  src/main/kotlin/com/eatsfinder/domain/place/model/PlaceMenus.kt
  src/main/kotlin/com/eatsfinder/domain/post/model/Post.kt
  src/main/kotlin/com/eatsfinder/domain/starRating/model/StarRating.kt
  src/main/kotlin/com/eatsfinder/domain/user/controller/ProfileController.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/profile/MyFeedResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/profile/myactive/MyActiveCommentLikeResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/profile/myactive/MyActiveCommentResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/profile/myactive/MyActiveCommentUserResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/profile/myactive/MyActiveDataResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/profile/myactive/MyActivePostLikeResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/profile/myactive/MyActivePostUserResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/profile/myactive/MyActiveResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/profile/myactive/MyActiveUserResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/model/MyActiveType.kt
  src/main/kotlin/com/eatsfinder/domain/user/model/UserLog.kt
  src/main/kotlin/com/eatsfinder/domain/user/repository/UserLogRepository.kt
  src/main/kotlin/com/eatsfinder/domain/user/repository/UserRepository.kt
  src/main/kotlin/com/eatsfinder/domain/user/service/ProfileService.kt
  src/main/kotlin/com/eatsfinder/domain/user/service/ProfileServiceImpl.kt
Labels: ✨ Feat, kotlin

#90 🐛 Fix: 게시물 s3 url 수정(#49)
  src/main/nest/domain/post/service/post.service.ts
Labels: 🐛 Fix, nestjs

#91 🐛 Fix: 게시물 s3 url 수정(#49)
  src/main/nest/domain/post/service/post.service.ts
Labels: 🐛 Fix, kotlin
