Repository All-eatery/EatsFinder-BE, pull requests merged in 2024-09, with the labels that each got.

#93 Feat/local place
  src/main/nest/domain/place/controller/place.controller.ts
  src/main/nest/domain/place/service/place.service.ts
  src/main/nest/global/dto/index.ts
  src/main/nest/global/dto/response/find-local-place-response.dto.ts
Labels: ✨ Feat, nestjs

#94 Feat/user similar
  src/main/nest/domain/auth/guard/jwt-auth-optional.guard.ts
  src/main/nest/domain/user/controller/user.controller.ts
  src/main/nest/domain/user/dto/find-password.dto.ts
  src/main/nest/domain/user/service/user.service.ts
  src/main/nest/global/decorator/api-guard-optional.decorator.ts
  src/main/nest/global/dto/index.ts
  src/main/nest/global/dto/request/find-password-request.dto.ts
  src/main/nest/global/dto/response/find-similar-response.dto.ts
Labels: ✨ Feat, nestjs

#95 Feat/new neighbor post
  src/main/kotlin/com/eatsfinder/domain/comment/controller/CommentController.kt
  src/main/kotlin/com/eatsfinder/domain/comment/dto/CommentResponse.kt
  src/main/kotlin/com/eatsfinder/domain/comment/service/CommentService.kt
  src/main/kotlin/com/eatsfinder/domain/comment/service/CommentServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/follow/repository/FollowRepository.kt
  src/main/kotlin/com/eatsfinder/domain/post/controller/PostController.kt
  src/main/kotlin/com/eatsfinder/domain/post/dto/FollowingUserDataResponse.kt
  src/main/kotlin/com/eatsfinder/domain/post/dto/NeighborPostResponse.kt
  src/main/kotlin/com/eatsfinder/domain/post/dto/NewPostByNeighborResponse.kt
  src/main/kotlin/com/eatsfinder/domain/post/dto/PaginationNeighborPostResponse.kt
  src/main/kotlin/com/eatsfinder/domain/post/repository/PostRepository.kt
  src/main/kotlin/com/eatsfinder/domain/post/service/PostService.kt
  src/main/kotlin/com/eatsfinder/domain/post/service/PostServiceImpl.kt
Labels: ✨ Feat, 🍱 Add, kotlin

#97 Refactor/kotlin
  src/main/kotlin/com/eatsfinder/domain/comment/controller/CommentController.kt
  src/main/kotlin/com/eatsfinder/domain/comment/dto/CommentResponse.kt
  src/main/kotlin/com/eatsfinder/domain/comment/dto/CommentsResponse.kt
  src/main/kotlin/com/eatsfinder/domain/comment/model/Comment.kt
  src/main/kotlin/com/eatsfinder/domain/comment/repository/CommentRepository.kt
  src/main/kotlin/com/eatsfinder/domain/comment/service/CommentService.kt
  src/main/kotlin/com/eatsfinder/domain/comment/service/CommentServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/like/controller/PostLikeController.kt
  src/main/kotlin/com/eatsfinder/domain/like/dto/PostLikeResponse.kt
  src/main/kotlin/com/eatsfinder/domain/like/dto/PostLikesResponse.kt
  src/main/kotlin/com/eatsfinder/domain/like/repository/PostLikeRepository.kt
  src/main/kotlin/com/eatsfinder/domain/like/service/PostLikeService.kt
  src/main/kotlin/com/eatsfinder/domain/like/service/PostLikeServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/user/controller/UserController.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/ChangePasswordRequest.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/DeleteReasonRequest.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/MyFeedResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/MyProfileResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/ProfileViewedByOthersResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/UpdateProfileRequest.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/active/MyActiveCommentLikeResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/active/MyActiveCommentResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/active/MyActiveCommentUserResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/active/MyActiveDataResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/active/MyActivePostLikeResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/active/MyActivePostUserResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/active/MyActiveResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/active/MyActiveUserResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/model/DeleteUserData.kt
  src/main/kotlin/com/eatsfinder/domain/user/model/DeleteUserReason.kt
  src/main/kotlin/com/eatsfinder/domain/user/repository/DeleteUserDataRepository.kt
  src/main/kotlin/com/eatsfinder/domain/user/repository/UserRepository.kt
  src/main/kotlin/com/eatsfinder/domain/user/service/UserService.kt
  src/main/kotlin/com/eatsfinder/domain/user/service/UserServiceImpl.kt
  src/main/kotlin/com/eatsfinder/global/exception/GlobalExceptionHandler.kt
  src/main/kotlin/com/eatsfinder/global/exception/profile/EnterAddInfoException.kt
  src/main/kotlin/com/eatsfinder/global/security/SecurityConfig.kt
Labels: ♻️ Refactor, 🍱 Add, kotlin

#98 Refactor/kotlin
  src/main/kotlin/com/eatsfinder/domain/email/repository/EmailRepository.kt
  src/main/kotlin/com/eatsfinder/domain/user/controller/UserController.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/DeleteReasonRequest.kt
  src/main/kotlin/com/eatsfinder/domain/user/model/DeleteUserData.kt
  src/main/kotlin/com/eatsfinder/domain/user/model/DeleteUserReason.kt
  src/main/kotlin/com/eatsfinder/domain/user/model/User.kt
  src/main/kotlin/com/eatsfinder/domain/user/model/UserWithdrawalData.kt
  src/main/kotlin/com/eatsfinder/domain/user/repository/DeleteUserDataRepository.kt
  src/main/kotlin/com/eatsfinder/domain/user/service/UserService.kt
  src/main/kotlin/com/eatsfinder/domain/user/service/UserServiceImpl.kt
  src/main/kotlin/com/eatsfinder/global/exception/GlobalExceptionHandler.kt
  src/main/kotlin/com/eatsfinder/global/exception/email/NoMatchEmailException.kt
  src/main/kotlin/com/eatsfinder/global/exception/profile/NoCancelWithdrawalException.kt
  src/main/kotlin/com/eatsfinder/global/exception/profile/NoChangeNicknameAtException.kt
  src/main/kotlin/com/eatsfinder/global/exception/profile/WithdrawalReasonException.kt
Labels: 🍱 Add, kotlin

#100 Refactor/nest
  .env.sample
  package-lock.json
  package.json
  src/main/nest/app/app.controller.spec.ts
  src/main/nest/app/app.controller.ts
  src/main/nest/app/app.module.ts
  src/main/nest/app/app.service.ts
  src/main/nest/domain/auth/auth.module.ts
  src/main/nest/domain/auth/controller/auth.controller.spec.ts
  src/main/nest/domain/auth/controller/auth.controller.ts
  src/main/nest/domain/auth/dto/update-auth.dto.ts
  src/main/nest/domain/auth/service/auth.service.spec.ts
  src/main/nest/domain/auth/service/auth.service.ts
  src/main/nest/domain/menu/controller/menu.controller.ts
  src/main/nest/domain/menu/menu.module.ts
  src/main/nest/domain/menu/service/menu.service.ts
  src/main/nest/domain/place/place.module.ts
  src/main/nest/domain/post/controller/post.controller.ts
  src/main/nest/domain/post/service/post.service.ts
  src/main/nest/domain/user/controller/user.controller.ts
  src/main/nest/global/decorator/api-guard-optional.decorator.ts
  src/main/nest/global/decorator/api-guard.decorator.ts
  src/main/nest/global/decorator/index.ts
  src/main/nest/global/dto/index.ts
  src/main/nest/global/dto/request/create-user-request.dto.ts
  src/main/nest/global/dto/request/find-password-request.dto.ts
  src/main/nest/global/dto/request/login-user-request.dto.ts
  src/main/nest/global/dto/response/access-token-response.dto.ts
  src/main/nest/global/dto/response/find-menu-response.dto.ts
  src/main/nest/global/dto/response/find-one-post-response.dto.ts
  src/main/nest/global/guard/jwt-auth-optional.guard.ts
  src/main/nest/global/guard/jwt-auth.guard.ts
  src/main/nest/global/guard/local-auth.guard.ts
  src/main/nest/global/guard/naver-auth.guard.ts
  src/main/nest/global/prisma/schema.prisma
  src/main/nest/global/strategy/jwt.strategy.ts
  src/main/nest/global/strategy/local.strategy.ts
  src/main/nest/global/strategy/naver.strategy.ts
Labels: ♻️ Refactor, nestjs

#102 🐛 Fix: html-minifier 취약점 (#101)
  package-lock.json
  package.json
Labels: 🐛 Fix, nestjs

#103 Refactor/kotlin
  build.gradle.kts
  src/main/kotlin/com/eatsfinder/domain/email/model/Email.kt
  src/main/kotlin/com/eatsfinder/domain/follow/dto/FollowerListResponse.kt
  src/main/kotlin/com/eatsfinder/domain/follow/dto/FollowingListResponse.kt
  src/main/kotlin/com/eatsfinder/domain/follow/service/FollowServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/like/repository/PostLikeRepository.kt
  src/main/kotlin/com/eatsfinder/domain/like/service/PostLikeServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/post/repository/PostRepository.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/active/MyActiveResponse.kt
  src/main/kotlin/com/eatsfinder/global/queryDsl/QueryDslSupport.kt
Labels: 🍱 Add, 🐛 Fix, kotlin

#104 Refactor/nest
  src/main/nest/domain/post/controller/post.controller.ts
  src/main/nest/domain/post/service/post.service.ts
  src/main/nest/global/prisma/schema.prisma
Labels: ✨ Feat, nestjs

#105 Refactor/kotlin
  src/main/kotlin/com/eatsfinder/domain/comment/controller/CommentController.kt
  src/main/kotlin/com/eatsfinder/domain/comment/dto/CommentResponse.kt
  src/main/kotlin/com/eatsfinder/domain/comment/dto/CommentsResponse.kt
  src/main/kotlin/com/eatsfinder/domain/comment/service/CommentService.kt
  src/main/kotlin/com/eatsfinder/domain/comment/service/CommentServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/like/repository/CommentLikeRepository.kt
  src/main/kotlin/com/eatsfinder/domain/like/repository/PostLikeRepository.kt
  src/main/kotlin/com/eatsfinder/domain/user/dto/user/active/MyActiveUserResponse.kt
  src/main/kotlin/com/eatsfinder/domain/user/model/User.kt
Labels: ✨ Feat, 🍱 Add, kotlin
