Repository All-eatery/EatsFinder-BE, pull requests merged in 2025-08, with the labels that each got.

#147 Feat/place info
  src/main/kotlin/com/eatsfinder/domain/follow/dto/FollowerListResponse.kt
  src/main/kotlin/com/eatsfinder/domain/follow/dto/FollowingListResponse.kt
  src/main/kotlin/com/eatsfinder/domain/follow/repository/FollowRepository.kt
  src/main/kotlin/com/eatsfinder/domain/follow/service/FollowService.kt
  src/main/kotlin/com/eatsfinder/domain/follow/service/FollowServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/like/repository/PostLikeRepository.kt
  src/main/kotlin/com/eatsfinder/domain/like/service/PostLikeServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/search/dto/PlaceSearchResponse.kt
  src/main/kotlin/com/eatsfinder/domain/search/dto/PostSearchResponse.kt
  src/main/kotlin/com/eatsfinder/domain/search/service/SearchServiceImpl.kt
Labels: 🍱 Add, 🐛 Fix, kotlin

#148 Deploy
  .github/workflows/cicd.yml
Labels: 🚀 Deploy, nestjs, kotlin

#152 Feat/notice
  src/main/kotlin/com/eatsfinder/domain/notice/controller/NoticeController.kt
  src/main/kotlin/com/eatsfinder/domain/notice/dto/NoticeRequest.kt
  src/main/kotlin/com/eatsfinder/domain/notice/dto/NoticeResponse.kt
  src/main/kotlin/com/eatsfinder/domain/notice/model/Notice.kt
  src/main/kotlin/com/eatsfinder/domain/notice/repository/NoticeRepository.kt
  src/main/kotlin/com/eatsfinder/domain/notice/service/NoticeService.kt
  src/main/kotlin/com/eatsfinder/domain/notice/service/NoticeServiceImpl.kt
  src/main/kotlin/com/eatsfinder/global/security/SecurityConfig.kt
Labels: ♻️ Refactor, ✨ Feat, 🍱 Add, kotlin

#154 Feat/divide search
  src/main/kotlin/com/eatsfinder/domain/place/repository/PlaceRepository.kt
  src/main/kotlin/com/eatsfinder/domain/post/repository/PostRepository.kt
  src/main/kotlin/com/eatsfinder/domain/search/controller/SearchController.kt
  src/main/kotlin/com/eatsfinder/domain/search/dto/NeighborSearchPaginationResponse.kt
  src/main/kotlin/com/eatsfinder/domain/search/dto/PlaceSearchPaginationResponse.kt
  src/main/kotlin/com/eatsfinder/domain/search/dto/PostSearchPaginationResponse.kt
  src/main/kotlin/com/eatsfinder/domain/search/service/SearchService.kt
  src/main/kotlin/com/eatsfinder/domain/search/service/SearchServiceImpl.kt
  src/main/kotlin/com/eatsfinder/domain/user/repository/UserRepository.kt
Labels: ✨ Feat, 🍱 Add, 🐛 Fix, kotlin
